<p-toast></p-toast>
<div class="grid justify-content-center">
  <div class="col-12 md:col-10 lg:col-12 xl:col-10">
    <div class="card px-6 py-6 shadow-4 border-round-xl">
      <h2 class="text-3xl font-semibold mb-5 text-center text-primary">Nouveau packing</h2>

      <form *ngIf="packing" (ngSubmit)="onSubmit()" #packingForm="ngForm" class="p-fluid">
        <div class="formgrid grid"> 
          <div class="field col-12">
            <label for="contact_id" class="font-semibold">Employé</label>
            <p-dropdown id="contact_id" [options]="contacts" optionLabel="nom_complet" optionValue="id" [(ngModel)]="packing.contact_id" name="contact_id" placeholder="Sélectionner un employé" class="text-lg"></p-dropdown>
          </div>

          <div class="field col-12 md:col-6">
            <label for="date" class="font-semibold">Date</label>
            <input type="date" pInputText id="date" [(ngModel)]="packing.date" name="date" required class="text-lg" />
          </div>

          <div class="field col-12 md:col-6">
            <label for="shift" class="font-semibold">Shift</label>
            <p-dropdown id="shift" [options]="shift" [(ngModel)]="packing.shift" name="shift" placeholder="Sélectionner un shift" class="text-lg"></p-dropdown>
          </div>
<!-- 
          <div class="field col-12 md:col-6">
            <label for="statut" class="font-semibold">Statut</label>
            <p-dropdown id="statut" [options]="statuts" [(ngModel)]="packing.statut" name="statut" placeholder="Sélectionner un statut" class="text-lg"></p-dropdown>
          </div> -->
        </div>
  
        <div class="mt-5">
  <h3 class="text-2xl font-semibold mb-3 text-primary">Produits utilisés</h3>

  <!-- Affiche un libellé figé "Rouleau" + cache l'id produit -->
  <div class="formgrid grid align-items-end mb-3"
        >
    <div class="field col-12 md:col-6">
      <label>Produit</label>
      <input pInputText type="text" [value]="rouleauNomAffiche" readonly class="text-lg">
       <input type="hidden" [(ngModel)]="packing.produit_id" name="rouleau_id">
    </div>

    <div class="field col-12 md:col-6">
      <label>Quantité</label>
      <input type="number"
             pInputText
             [(ngModel)]="packing.quantite_packed"
             name="quantite_rouleau"
             min="1"
             required
             class="text-lg" />
    </div>
  </div>

  <ng-template #rouleauLoading>
    <p-skeleton width="100%" height="3rem"></p-skeleton>
  </ng-template>

  <!-- on supprime le bouton "Ajouter un produit" -->
</div>

 
        <div class="flex justify-content-center gap-3 mt-5">
          <button type="submit" pButton label="Enregistrer" class="p-button-lg p-button-primary px-5" [disabled]="packingForm.invalid" 
          [loading]="loading"  [disabled]></button>
          <button type="button" pButton label="Annuler" class="p-button-lg p-button-secondary px-5" routerLink="/dashboard/packing"></button>
        </div>
      </form> 

       <p *ngIf="errorMessage" class="text-center text-red-500 font-medium mt-4">{{ errorMessage }}</p>
    </div>
  </div>
</div>
