<div class="card">
  <!-- tu peux garder p-toast pour les succès globaux -->
  <p-toast></p-toast>

  <span class="text-900 text-xl font-bold mb-4 block">Nouveau client/Packing</span>
  <p-progressBar mode="indeterminate" *ngIf="loading" class="w-full h-2"></p-progressBar>

  <div class="grid" *ngIf="!loading">
    <div class="col-12 lg:col-10">
      <div class="grid formgrid p-fluid">
        <!-- TYPE -->
        <div class="field mb-4 col-6 md:col-6">
          <label for="type" class="font-medium text-900">Type</label>
          <p-dropdown
            id="type"
            [options]="clientOptions"
            optionLabel="label"
            optionValue="value"
            placeholder="Sélectionnez un type de client"
            [(ngModel)]="contact.type"
            [ngClass]="{'p-invalid': hasError('type')}"
          ></p-dropdown>
          <small class="p-error" *ngIf="hasError('type')">{{ getError('type', 'Le type est obligatoire.') }}</small>
        </div>

        <!-- PHONE -->
        <div class="field mb-4 col-12 md:col-6">
          <label for="phone" class="font-medium text-900">Phone</label>
          <input
            id="phone"
            type="text"
            pInputText
            placeholder="Exemple : 666 17 70 06"
            [(ngModel)]="contact.phone"
            [ngClass]="{'p-invalid': hasError('phone')}"
          />
          <small class="p-error" *ngIf="hasError('phone')">{{ getError('phone', 'Le téléphone est obligatoire.') }}</small>
        </div>

        <!-- PRENOM -->
        <div class="field mb-4 col-12 md:col-6">
          <label for="prenom" class="font-medium text-900">Prénom</label>
          <input
            id="prenom"
            type="text"
            pInputText
            placeholder="Exemple : Issa"
            [(ngModel)]="contact.prenom"
            [ngClass]="{'p-invalid': hasError('prenom')}"
          />
          <small class="p-error" *ngIf="hasError('prenom')">{{ getError('prenom', 'Le prénom est obligatoire.') }}</small>
        </div>

        <!-- NOM -->
        <div class="field mb-4 col-12 md:col-6">
          <label for="nom" class="font-medium text-900">Nom</label>
          <input
            id="nom"
            type="text"
            pInputText
            placeholder="Exemple : BARRY"
            [(ngModel)]="contact.nom"
            [ngClass]="{'p-invalid': hasError('nom')}"
          />
          <small class="p-error" *ngIf="hasError('nom')">{{ getError('nom', 'Le nom est obligatoire.') }}</small>
        </div>

        <!-- QUARTIER (ex si obligatoire selon pays) -->
        <div class="field mb-4 col-6 md:col-6" *ngIf="!isGuineeSelected">
          <label for="quartier" class="font-medium text-900">Quartier</label>
          <input
            id="quartier"
            type="text"
            pInputText
            placeholder="Exemple : Cosa"
            [(ngModel)]="contact.quartier"
            [ngClass]="{'p-invalid': hasError('quartier')}"
          />
          <small class="p-error" *ngIf="hasError('quartier')">{{ getError('quartier') }}</small>
        </div>

        <!-- VILLE -->
        <div class="field mb-4 col-12 md:col-6">
          <label for="ville" class="font-medium text-900">Ville</label>
          <input
            id="ville"
            type="text"
            pInputText
            placeholder="Exemple : Conakry"
            [(ngModel)]="contact.ville"
            [ngClass]="{'p-invalid': hasError('ville')}"
          />
          <small class="p-error" *ngIf="hasError('ville')">{{ getError('ville') }}</small>
        </div>

        <div class="col-12">
          <button pButton pRipple label="Créer" class="w-auto mt-3" (click)="saveClient()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
